.popup_opened {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -141px;
  margin-top: -335px;
}

@media screen and (min-width: 880px) {
  .popup_opened {
    width: 415px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -265px;
  }
}
