.popup_opened {
  width: 282px;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
  margin: auto;
  left: 0;
  right:  0;
}

@media screen and (min-width: 880px) {
  .popup_opened {
    width: 415px;
    margin: auto;
    left: 13px;
    top: 155px;
  }
}
