.popup__error_last {
  position: absolute;
  top: 215px;
  left: 19px;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

@media screen and (min-width: 880px) {
  .popup__error_last {
    top: 205px;
    left: 35px;
  }
}

