.profile__subtitle {
  margin-bottom: 36px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 880px) {
  .profile__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    grid-row: 1;
    grid-column: 2;
    text-align: start;
    align-self: end;
  }
}
