.popup__save-button {
  width: 238px;
  height: 46px;
  background-image: url(../../../images/save-button.svg);
  border: 0;
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
}

.popup__save-button:hover {
  background: #000;
  opacity: 0.8;
  border-radius: 2px;
}
